{% extends "base_user.html" %}

{% block title %}新贴子{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.staticfile.org/dropzone/5.9.3/min/dropzone.min.css" type="text/css" />
{% endblock %}

{% block center_right %}
<div class="article-writing-area">
    <input class="form-control" id="article-title" placeholder="标题" value='{{ data.get("title") or "" }}'
        style="width: 100%;" />

    <div class="article-writing-area-textarea" style="margin-top: 10px;">
        <textarea class="form-control" id="article-content" rows="12" name="text"
            placeholder="请写下你的创作">{{ data.get("content") or "" }}</textarea>
    </div>

    <form action="/image-upload" class="dropzone" id="imageUpload" style="margin-top: 10px;"></form>
</div>

<div style="margin: 0 4%;">
    <button class="btn btn-primary" style="width: 100%;" id="submit">提交
    </button>
</div>

<div style="height: 15px;"></div>

{% endblock %}

{% block js %}
<script src="https://cdn.staticfile.org/dropzone/5.9.3/min/dropzone.min.js"></script>
<script>
    const id = "{{ data['id'] }}";
    Dropzone.options.imageUpload = {
        maxFilesize: 5,
        maxFiles: 9,
        acceptedFiles: ".jpg,.jpeg,.png,.gif",
        success: function (file, response) {
            let textarea = $("#article-content");
            textarea.val(textarea.val() + `\n!!!IMAGE:${response}!!!`);
        }
    };
</script>
<script>
    $("#submit").click(function () {
        $(this).text("正在提交...");
        $(this).attr("disabled", true);
        $.post("/article/write?update={{ 'true' if data else 'false' }}&id={{ data.get('id') or '' }}", {
            "title": $("#article-title").val(),
            "content": $("#article-content").val(),
        }, function (result) {
            if (result !== "") {
                alert("提交成功！")
                window.open("/article/" + result, "_top");
            } else {
                alert("提交失败！请注意自行保存你的贴子内容，以防数据丢失。");
                $(this).attr("disabled", false);
                $(submit_button).text("重新提交");
            }
        })
    })
</script>
{% endblock %}